# Telegram Configuration
CONFIG_BOT_TOKEN="YOUR_BOT_TOKEN"
CONFIG_CHATID="YOUR_CHAT_ID"
#CONFIG_ERROR_CHATID="" (Optional: Use a different chat for error logs)

# Build Configuration
#CONFIG_ROM_NAME="" (Optional: Custom ROM name)
CONFIG_DEVICE="spes"
CONFIG_BUILD_TARGET="bacon"
CONFIG_BUILD_TYPE="userdebug"
#CONFIG_JOBS="" (Optional: Number of threads for compilation)
#CONFIG_RECOVERY_IMAGES="recovery.img;dtbo.img;vendor_boot.img" (Optional: Defines which images should be packaged as recovery)

# Upload Configuration
CONFIG_PDUP_API="your_pixeldrain_api_key"
CONFIG_GOFILE="true"

# Kernel Build Specific
CONFIG_DEFCONFIG="vendor/spes-perf_defconfig"
CONFIG_AK3_REPO="ak3_url"
#CONFIG_FILES_MAP="Image.lz4:Image.lz4;dtbo.img:dtbo.img" # Custom map: source:dest
#CONFIG_KSU_URL="https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh"
