# Telegram
CONFIG_BOT_TOKEN="YOUR_BOT_TOKEN"
CONFIG_CHATID="YOUR_CHAT_ID"
#CONFIG_ERROR_CHATID="" (Optional: If commented out, uses the CHATID above)

# Build
#CONFIG_ROM_NAME="" (Optional: If commented out, uses the folder name)
CONFIG_DEVICE="spes"
CONFIG_BUILD_TARGET="bacon"
CONFIG_BUILD_TYPE="userdebug"
#CONFIG_JOBS="" (Optional: If commented out, uses all cores)

# Upload
CONFIG_PDUP_API="your_pixeldrain_api_key"
CONFIG_GOFILE="true"

## Kernel build specific
CONFIG_DEFCONFIG="vendor/spes-perf_defconfig"
CONFIG_AK3_REPO="ak3_url"
#CONFIG_FILES_MAP="Image.lz4:Image.lz4;dtbo.img:dtbo.img" # Format: "source:destination;source2:destination2"